# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
backend/secureapp.db
backend/instance/
*.db
*.sqlite

# Environments
.env
.venv
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
.DS_Store
